@font-face {
    font-family: 'Poppins';
    src: url('../../../public/Poppins-Light.ttf');
}
::-webkit-scrollbar {
    display: none;
}
h6{padding-top: 8px;
font-family: 'Poppins';}
h5{padding-top: 6px;
    font-family: 'Poppins';} 
    .Logo{width: 100%;} 
.container {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: #FF5757;
}

.force {
    align-items: center;
    flex-direction: row;
    width: 80%;
    padding-top: 12px;
    padding-left: 12px;
}

.padder {
    margin-left: 5%;
    width: 70%;
}

.MiddleSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        flex-direction: row;

}

.hasOn{opacity: 1;
animation: fade 1s;}
.hasOff{opacity: 0;
animation: infade 1s}
.sizeOn{
    animation: resizer 1s;
    width: 45%;    
}
    .sizeOff{
    animation: deresizer 1s;
    width: 20%;
}
.event {
    border: 2px solid white;
    border-radius: 8px;
    width: 15%;
}

.time {
    border: 2px solid white;
    border-radius: 8px;
    width: 15%;
}
.eventspe{
    background-color: whitesmoke;
    overflow: auto;
    height: 160px;
    border: 4px solid purple;
    border-radius: 16px;
    width: 30%;
    color: black;
    text-align: center;
    margin-left: 15%; 
    font-family: 'Poppins';
}
.spe{background-color: rebeccapurple;
    border: 4px solid purple;
    border-radius: 12px;
width: 30%;
text-align: center;
color: white;
margin-left: 35%; 
font-family: 'Poppins';
}
.search{
    border: 4px solid purple;
    border-radius: 12px;
width: 80%;
height: 5%;
text-align: center;
color: black;
font-family: 'Poppins';
}

.Searcher {
    height: 30px;
    border-radius: 18px;
    padding-bottom: 3px;
    margin-bottom: 2px;
    display: flex;
    backface-visibility:hidden;
    font-family: 'Poppins';
}
.Evenement{
    border: 2px solid #00004D;
    background-color: white;
    border-radius: 16px;
    height: 100%;
    position: relative;
}
.wht{width: 100%;
    display: flex;
    flex-direction: row;
justify-content: center;
background-color: grey;}
.bordure{
    width: 80%;
background-color: white;
display: flex;
justify-content: center;
height: calc(100vh - 60px);}
#spe{
left: 20%;
font-family: 'Poppins';
text-align: center;}
#Search{
    left: 24%;
    font-family: 'Poppins';
    text-align: center;
    padding-right:8%;
    padding-left:8%;
}
.ctnr{width: 100%;
display: flex;
flex-direction: row;}
.right{width: 50%;}
.left{width: 50%;}
.img{width: 100%;}
<<<<<<< Updated upstream
=======
.ctnr{width: 100%;
display: flex;
flex-direction: row;}
.right{width: 50%;}
.left{width: 50%;}
.img{width: 100%;
height: 100%;}
>>>>>>> Stashed changes
#Date{
    left: 22%;
    text-align: center;
    font-family: 'Poppins';}

.Lpadder{margin-top: 5px;
max-width: 70px;}
* {
    margin: 0;
}
@keyframes resizer {
    0%{width: 20%;}
    100%{width: 45%;}
}
@keyframes deresizer {
    0%{width: 45%;}
    100%{width: 20%;}
}
@keyframes fade {
    0% {opacity : 0;}
    100%{opacity: 1;}
}
@keyframes infade {
    0% {opacity : 1;}
    100%{opacity: 0;}
}