#timeline
{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: black;
}

.activity
{
    position: absolute;
    background-color: red;
    height: 95px;
    border-radius: 50px;
    opacity: 50%;
    border: 2px solid black;
}

#hour
{
    display: flex;
    flex-direction: row;
}

.hour
{
    margin-left: 21.55%;
}