#corp
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#timeline
{
    position: relative;
    height: 100px;
    width: 80%;
    background-color: black;    
    margin-left: 16%;
    margin-right: 10%;
}

.activity
{
    position: absolute;
    background-color: red;
    height: 95px;
    border-radius: 50px;
    opacity: 50%;
    border: 2px solid black;
}

#hour
{
    display: flex;
    flex-direction: row;
    margin-top: 15%;
}

.hour
{
    margin-left: 20.1%;
}

#selectDay
{
    height: 100px;
    border: 2px solid black;
    width: 100%;
    text-align: center;
    padding-left: 60%;
    padding-right: 60%;
}

.option
{
    border: solid 2px black;
    text-align: center;
    width: 100%;
    padding-left: 60%;
    padding-right: 60%;
}